<!--Actualiar datos del paciente-->
<div class="wrapper">
  <h1 mat-dialog-title class="custom-dialog-title">¿Estás seguro?</h1>
  <div mat-dialog-content class="custom-dialog-content">
    <p>
      Esta acción actualizara los datos realizados al paciente de la base de
      datos y no se podrá restablecer en ningun momento
    </p>
    <p>Desea continuar?</p>
  </div>
  <div mat-dialog-actions class="custom-dialog-actions">
    <button
      mat-button
      (click)="cancelar()"
      class="custom-dialog-button cancelar"
    >
      Cancelar
    </button>
    <button
      mat-button
      (click)="confirmar()"
      class="custom-dialog-button actualizar"
    >
      Actualizar
    </button>
  </div>
</div>
