@import "boxicons/css/boxicons.min.css";
// @import '~@fullcalendar/core/main.min.css';
// @import '~@fullcalendar/daygrid/main.min.css';
// @import '~@fullcalendar/timegrid/main.min.css';

h1 {
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 30px;
}

//------------cuidador----------------------------------------------------------------------

.select-cuidador {
  display: inline-table;
  position: relative;
  width: 320px;
}

.select-cuidador .select-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #2481ff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: #555555; /* Color de texto */
  box-shadow: 0 0 10px rgba(36, 129, 255, 0.5); /* Sombra opaca tipo neon */
}

.select-cuidador .select-btn:hover {
  outline: none; /* Eliminar el contorno al enfocar */
  border-color: #0058e4; /* Cambiar el color del borde al enfocar */
  box-shadow: 0 0 12px rgba(36, 129, 255, 0.9); /* Aumentar la intensidad de la sombra al enfocar */
}

.select-cuidador .select-btn i {
  font-size: 26px;
  color: #2481ff;
}

.select-cuidador .options {
  position: absolute;
  top: calc(100% + 10px); /* Posiciona la lista justo debajo del botón */
  left: 0;
  width: 88%; /* Opcional: Haz que la lista ocupe todo el ancho */
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 4px rgb(46, 78, 218);
  animation: fadeInDown 0.5s ease;
  z-index: 999; /* Asegura que la lista esté por encima de otros elementos */
}

//------------suplencias----------------------------------------------------------------------

.suplencias {
  display: inline-table;
  position: relative;
  width: 200px;
  padding-left: 20px;
}

.suplencias .select-btn2 {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #2481ff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: #555555; /* Color de texto */
  box-shadow: 0 0 10px rgba(36, 129, 255, 0.5); /* Sombra opaca tipo neon */
}

.suplencias .select-btn2:hover {
  outline: none; /* Eliminar el contorno al enfocar */
  border-color: #0058e4; /* Cambiar el color del borde al enfocar */
  box-shadow: 0 0 12px rgba(36, 129, 255, 0.9); /* Aumentar la intensidad de la sombra al enfocar */
}

.suplencias .select-btn2 i {
  font-size: 26px;
  color: #2481ff;
}

//-----------paciente-----------------------------------------------------------------------
.select-paciente {
  margin-left: 50px;
  display: inline-table;
  position: relative;
  width: 320px;
}

.select-paciente .select-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #2481ff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: #555555; /* Color de texto */
  box-shadow: 0 0 10px rgba(36, 129, 255, 0.5); /* Sombra opaca tipo neon */
}

.select-paciente .select-btn:hover {
  outline: none; /* Eliminar el contorno al enfocar */
  border-color: #0058e4; /* Cambiar el color del borde al enfocar */
  box-shadow: 0 0 12px rgba(36, 129, 255, 0.9); /* Aumentar la intensidad de la sombra al enfocar */
}

.select-paciente .select-btn i {
  font-size: 26px;
  color: #2481ff;
}

.select-paciente .options {
  position: absolute;
  top: calc(100% + 10px); /* Posiciona la lista justo debajo del botón */
  left: 0;
  width: 88%; /* Opcional: Haz que la lista ocupe todo el ancho */
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 4px rgb(46, 78, 218);
  animation: fadeInDown 0.5s ease;
  z-index: 999; /* Asegura que la lista esté por encima de otros elementos */
}

.options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background-color: #ffffff;
}

.options .option:hover {
  background: #ececec;
}

.option i {
  color: #2481ff;
  font-size: 26px;
  margin-right: 12px;
}

.option .option-namePaciente {
  font-size: 16px;
  color: #333;
}

.selected-patient-name {
  font-weight: bold;
  margin-bottom: 10px;
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bx-chevron-up {
  transition: transform 0.3s ease; /* Transición suave */
}

.select-abierta .bx-chevron-up {
  animation: rotateArrow 0.6s forwards; /* Ejecuta la animación al abrir */
}

.calendar-container {
  background-color: #fff;
}

.calendar-header {
  h1 {
    margin-top: 300px;
    display: flex;
    align-items: center;
    background-color: #2481ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  }

  .paciente-info {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h4 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #333; /* Color de texto */
    }

    h3 {
      font-size: 16px;
      margin-bottom: 15px;
      color: #555; /* Color de texto */
    }

    .container {
      display: inline-block;
      margin-bottom: 10px;
    }

    .bxs-user-pin {
      font-size: 60px;
      margin-right: 10px;
      color: #2481ff; /* Color del icono */
    }
  }
}

.custom-calendar {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  max-width: 96%; /* Limita el ancho al ancho de la pantalla */
}

.btnSuplencia {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #2481ff;
  border: 2px solid #2481ff;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  margin-right: 60px;
}

.btnSuplencia:hover {
  background-color: #0058e4;
  border-color: #0058e4;
}

.btnSuplencia:active {
  background-color: #003fad;
  border-color: #003fad;
}

.btnBuscarSuplencia {
  margin-left: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #85a2ca;
  border: 2px solid #81a3d4;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  margin-right: 40px;
}

.btnBuscarSuplencia:hover {
  background-color: #0058e4;
  border-color: #0058e4;
}

.btnBuscarSuplencia:active {
  background-color: #003fad;
  border-color: #003fad;
}
